.Edit-Profile-cancel{
    background-color: black;
    color: #fff;
    padding: 7px 10px;
    position: absolute;
    cursor: pointer;
    margin-top: -35px;
}
.Edit-Profile-cancel:hover{
    background-color: rgba(78, 77, 77, 0.864);
}
.Register-Page-Word-Limit{
    font-size: 10px;
    width: fit-content;
    padding-top: 5px;
}
