.overall-profile-tabs {
    /* border: 2px solid black; */
    /* width: 80%; */
    margin: auto;
}

.profile-tabs {
    font-family: "Montserrat", sans-serif;
    display: flex;
    border-bottom: 1px solid black;
    width: 80%;
    margin: auto;
    font-weight: 900;
    color: #000000;
}

.profile-tab-content {
    font-family: "Montserrat", sans-serif;
    margin: 0px 30px;
    padding-bottom: 5px;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    /* border: 2px solid ; */
}

.profile-tab-content-highlight {
    border-bottom: 3px solid #375C6B;
    color: #375C6B;
}

.profile-tab-data {
    /* border: 2px solid black; */
    width: 80%;
    margin: 10px auto;

}

.profile-tab-data-hide {
    display: none;
}

@media only screen and (max-width: 600px) {
    .profile-tabs {
        width: 100%;
        /* font: 1.7rem; */
        justify-content: space-around;
    }

    .profile-tab-content {
        margin: 0px 0px;
        font-size: 0.97rem;
    }

    .profile-tab-data {
        width: 100%;
    }

}