.post-display{
    /* margin: 20px; */
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    width: 55%;
}
.post-display-head {
    display: flex;
}
.post-display-profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.post-display-heading {
    margin: 0px 8px;
}


.post-head {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

.post-head-content p{
    margin-bottom: 0;
    font-size: 0.7rem;
    display: flex;
    margin-right: 10px;
    font-weight: 500;
    color: #333;
    margin-top: -6px;
}

.post-display-center {
    /* border: 2px solid; */
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.post-display-content {
    padding-bottom: 10px;
    font-weight: 500;
 }
.post-display-bottom {
    /* border: 2px solid; */
    display: flex;
}
.post-display-bottom-content  {
    display: flex;
    margin-right: 15px;
}
.post-display-bottom img{
    margin: 2px;
}

.post-display-carousel-mobileview {
    display: none;
    margin: 10px 0px;
}
.post-display-carousel-webview{
    display: block;
}

.post-display-image img{
    height: 30%;
    width: 95%;
    /* border-radius: 5px; */
}

.post-display-heading-time{
    font-size: var(--subheading-font-size);
    font-weight: var(--subheading-font-weight);
}

.Scrollbar-height{
    height: 59vh;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: 'prev';
    color: black;
    font-size: 10px;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: 'next';
    color: black;
    font-size: 10px;
}


/*  */

@media only screen and (max-width: 1000px) {
    .post-display{
        margin: 10px;
        width: 100%;
    }
    .post-display-carousel-mobileview {
        display: block;
    }
    .post-display-carousel-webview{
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .post-display{
        margin: 20px 0px 20px 20px;
        width: 90%;
    }
    .post-display-carousel-mobileview {
        display: block;
    }
    .post-display-carousel-webview{
        display: none;
    }
}

