.card-content:hover {
  /* border: 1px solid black; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transform: scale(1.1);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 50,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

img {
  image-rendering: crisp-edges;
}