.club-member-modal {
    margin: auto;
    align-items: center;
    /* position: absolute; */
    z-index: 99999999;
}

.club-member-modal-footer {
    display: flex;
    flex-direction: column;
}

.club-member-modal-footer button {
    padding: 5px 35px;
    border-radius: 10px;
    color: #fff;
    background-color: #232234;
    border: 2px solid #232234;
    cursor: pointer;
    font-size: 1.05rem;
    font-weight: 500;
    /* width: 100%; */
} 

.modal-footer-club-member-yes-no-div {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.modal-footer-club-member-yes-no-div div {
    padding: 5px 35px;
    border-radius: 10px;
    color: #fff;
    background-color: #232234;
    border: 2px solid #232234;
    cursor: pointer;
    font-size: 1.05rem;
    font-weight: 500;
}

.club-member-modal-footer input {
    border-top: none ;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid;
    padding: 5px;
    font-size: 1rem;
    font-weight: 400;
}

.club-member-modal-confirm button{
    margin: 10px;
}

.club-member-modal-header{
    font-weight: 700;
    font-size: 1.4rem;
}

.club-member-modal .modal-header .btn-close {
    padding: 10;
    /* margin: 0; */
    font-size: 0.8rem;
    margin-top: -30px;
}

.selected-val{
    margin-top: 7px;
    font-size: 1rem;
    font-weight: 400;
}

.link-to-profile{
    text-decoration: none;
    color:black;
}

.link-to-profile:hover{
    text-decoration: underline;
    color:black;
}